@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Neuropol X';
    src: url('../src/assets/fonts/Neuropol X Rg.otf');
}

@font-face {
    font-family: 'Vipnagorgialla';
    src: url('../src/assets/fonts/Vipnagorgialla Rg It.otf');
}


@theme {
    --font-neuropol-x: 'Neuropol X';
    --font-Vipna: 'Vipnagorgialla';
}

